<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Primeiro dia com 3 ano</title>
</head>
<body>
    <div>
        <h1>Quem sou eu?</h1>
        <h2>Eu me chamo Renê de sousa e sou de Sousa</h2>
    </div>
    <div>
        <p>Nasci em Sousa em 1988. Estou tentando aprender a tocar violão</p>
        <hr>
        <p>Acho que não tenho dom</p>
        <hr>
        <table>
            <tr>
                <td>primeiro ano</td>
                <td>segundo ano</td>
            </tr>
        </table>
    </div>


</body>
</html>